<div class="row">
  <div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Adicionar</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <%= render 'form', service: @event, btn_action: :create %>
        </div>
        <!-- /.card-body -->
    </div><!--/.card-->
  </div><!--/.col-12-->
</div><!--/.row-->